.form {
  background-color: #fff;
  padding: 25px;

  @media screen and (max-width: 1439px) {
    margin: 25px;
  }

  &-inputText {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    max-width: 600px;

  }
  input {
    border: 1px solid #000 !important;
    color: #000 !important;
    margin: 5px 2.5px;
    width: 40%;
  }

  textarea {
    color: #000;
  }
}
